---
import Layout from '../layouts/Layout.astro'
---
<Layout title="About" path="/about/">
    <main>
        <h1>About</h1>
        <p><a href="https://www.fabon.info">ふぁぼん</a>の日記です。「週記」と題し、週ごとに投稿しています。</p>
        <h2>Feed</h2>
        <p><a rel="external" href="/rss.xml">RSS</a></p>
        <h2>License</h2>
        <p>
            <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
                <img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" width="88" height="31" />
            </a><br />
            このサイトのコンテンツは、<a rel="license" href="https://creativecommons.org/licenses/by/4.0/">クリエイティブ・コモンズ 表示 4.0 国際 ライセンス</a>のもとで提供されています。
        </p>
    </main>
</Layout>
