---
import LinkCard from './LinkCard.astro'

interface Props {
    href?: string
    'data-embed-link'?: string
}

const props = Astro.props
---
{ props.href && typeof props['data-embed-link'] === 'string' ? <LinkCard url={props.href} /> : <a {...props}><slot /></a> }
