---
import LinkCard from './LinkCard.astro'
import TwitterEmbed from './TwitterEmbed.astro'

interface Props {
    href?: string
    'data-embed-link'?: string
}

const props = Astro.props
---
{ props.href && typeof props['data-embed-link'] === 'string' ? (
    new URL(props.href).host === 'twitter.com' ?
        <TwitterEmbed url={props.href} /> :
        <LinkCard url={props.href} />
) : <a {...props}><slot /></a> }
