---
import { fetchTwitterEmbed } from '../lib/cache-metadata'

interface Props {
    url: string
}

const { url } = Astro.props
const html = await fetchTwitterEmbed(url)
---
<div class="twitter-embed-wrapper" set:html={html}></div>

<script>
    const loadTwitterWidget = () => {
        if (document.querySelectorAll('.twitter-embed-wrapper').length === 0) { return }
        const script = document.createElement('script')
        script.async = true
        script.src = 'https://platform.twitter.com/widgets.js'
        document.head.appendChild(script)
    }
    const lazyLoad = () => {
        const twitterElements = document.querySelectorAll('.twitter-embed-wrapper')
        if (twitterElements.length === 0) { return }

        const observer = new IntersectionObserver(entries => {
            if (entries.every(e => !e.isIntersecting)) { return }
            observer.disconnect()
            loadTwitterWidget()
        })
        for (let i = 0; i < twitterElements.length; i++) {
            observer.observe(twitterElements[i]!)
        }
    }
    if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', lazyLoad)
    } else {
        lazyLoad()
    }
</script>
