---
export interface Props {
	title: string
    path: string
    description?: string
    disableOgp?: boolean
    disableAnalytics?: boolean
}

const { title, description, path, disableOgp, disableAnalytics } = Astro.props

declare global {
    interface Window {
        goatcounter: any
    }
}
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

        { !disableOgp && <>
            <meta name="description" content={description || "ふぁぼんの週記"} />
            <meta property="og:title" content={title} />
            <meta property="og:description" content={description || "ふぁぼんの週記"} />
            <meta property="og:url" content={new URL(path, Astro.site).toString()} />
            <meta name="twitter:card" content="summary" />
            <meta name="twitter:site" content="@syobon_hinata" />
        </> }
        <title>{title}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/katex.min.css" integrity="sha384-ZPe7yZ91iWxYumsBEOn7ieg8q/o+qh/hQpSaPow8T6BwALcXSCS6C6fSRPIAnTQs" crossorigin="anonymous">

        <script is:inline>
            if (location.hostname.endsWith('pages.dev')) {
                window.goatcounter = { no_onload: true }
            }
        </script>
        { import.meta.env.PROD && (!disableAnalytics) && <script data-goatcounter="https://fabon-diary.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> }
	</head>
	<body>
        <div class="non-footer">
            <header>
                <h1><a href="/" class="link-top">Hebdomadary</a></h1>
                <p>ふぁぼんの週記</p>
            </header>
            <slot />
        </div>
        <footer>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="https://twitter.com/syobon_hinata">Twitter</a></li>
                <li><a href="https://github.com/fabon-f">GitHub</a></li>
                <li><a href="https://github.com/fabon-f/diary.fabon.info">source (GitHub)</a></li>
            </ul>
            <p><a href="/">Hebdomadary</a> by <a href="https://www.fabon.info">ふぁぼん</a></p>
        </footer>
	</body>
</html>

<style is:global>
    @import '../styles/base.css';
</style>

<style>
    html, body {
        height: 100%;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    header {
        text-align: center;
        margin-block-end: 4rem;
    }
    .link-top {
        color: inherit;
        text-decoration: none;
        font-size: 1.5rem;
    }
    .non-footer {
        margin-block-end: 5rem;
    }
    footer {
        font-size: 0.9em;
        margin-block-start: auto;
        text-align: center;
    }
    footer ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        gap: 2em;
        justify-content: center;
    }
    footer ul, footer p {
        margin-block: 0.5rem;
    }
</style>
